a
  outline: none
  text-decoration: none


.main-nav a,
footer a
  position: relative
  outline: none
  text-decoration: none

  &:not(.nav-logo)::before
    content: ""
    position: absolute
    width: 100%
    height: 1px
    bottom: 0
    left: 0
    background-color: $primary-text
    transform: scaleX(0)
  //&:link,
  //&:visited


  &:hover::before,
  &:focus::before,
  &:active::before,
    transform: scaleX(1)
