.page-content
  position: relative
  z-index: 1


#products
  background: url("../img/nif-logo-bg.svg") no-repeat
  background-size: cover
  background-color: white
  padding: 5rem 0
  text-align: center

  .wrapper .subline
      margin: 2rem auto
      width: 70%


#cta
  background: $primary-text

  img
    max-height: 288px
    width: auto
    bottom: 0
    right: 0
    position: absolute


.cta-content
  padding: 1rem 1rem
  height: 247px
  width: 50%

  h2, p
    color: $text-inverse

  h2
    margin-bottom: 1rem

  button
    background: $text-inverse
    color: $primary-text
    font-size: .8rem
    margin-top: 0


.flex
  position: relative


#whoweare
  background-color: white
  text-align: center
  padding: 3rem 0

  .wrapper .subline
      margin: 2rem auto
      width: 70%

.staff
  display: flex
  flex-flow: row wrap
  justify-content: center

  .avatar
    padding: 0 1rem
    flex: 0 1 200px
    span
      font-size: 0.75rem


p.avatar-name
  line-height: 1rem
