#products
  background: url("../img/nif-logo-bg.svg") no-repeat
  background-size: cover
  background-color: white
  padding: 5rem 0
  text-align: center

  .wrapper .subline
      margin: 2rem auto
      width: 70%
