.parallax
  perspective: 100px
  //height: 100vh
  position: relative
  //overflow-x: hidden
  //overflow-y: auto
  top: 0
  left: 0
  right: 0
  bottom: 0


html
    overflow: hidden
    height: 100%
    //overflow-y: auto


.parallax__layer
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0


.parallax__layer img
  display: block
  position: absolute
  bottom: 0


.header-logo
  position: absolute
  left: 50vw
  top: -40vh
  transform: translateZ(-200px) translateX(-50%) scale(2.5)
  text-align: center


.header-logo img
  max-width: 100%
  min-width: 750px


.page-content
  background: #fff
  display: block
  position: absolute
  top: 100%
  left: 0
  right: 0
  z-index: 2



$parallax__layers: 5

@for $i from 0 through $parallax__layers
  $x: ($parallax__layers - $i) / 2
  .parallax__layer__#{$i}
     transform: translateZ(-100 * $x#{px}) scale($x + 1)
